@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --CRed-color: #e31b22;
  --CBlue-color: #00539b;
  --CBlue-dark-color: #063a68;
  --black-color: black;
  --background-color: rgb(27, 27, 27);
  --lightgrey-color: rgb(167, 162, 162);
  --white-color: white;
  --grey-color: #555756;
  --basically-black: #0a0a0a;
  --bold-font-weight: bold;
  --darkred: #c00424;
}

/*****************************/
/* HTML page styling Start*/
/*****************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100dvh;
  background-color: var(--background-color);
}


/*****************************/
/* HTML page styling End */
/*****************************/



/*****************************/
/* Navbar Start*/
/*****************************/

.navbar-logo {
  display: flex;
  align-items: center;
  height: 69px;
  width: 190px;
}

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.48s ease;
  padding-left: 2%;
}

header.sticky {
  background: var(--black-color);
  padding: 15px 100px;
}

header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
  transition-property: right;
}

header .menu a {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s ease;
}

header .menu a:hover {
  background: var(--CRed-color);
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.3s ease;
  color: var(--white-color);
  transition: 0.3s ease;
}

header .nav-btn {
  color: var(--white-color);
  font-size: 25px;
  cursor: pointer;
  display: none;
}

/*****************************/
/* Navbar End*/
/*****************************/



/*****************************/
/* Sections Start */
/*****************************/

/* Main Section */
.section-main {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  background-image: url("https://muralsyourway.vtexassets.com/arquivos/ids/236304/Columbus-Ohio-Skyline-Mural-Wallpaper.jpg?v=638165404917430000");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  text-align: center;
}

.section-main h1 {
  color: var(--white-color);
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}


.hotel-section-main {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  background-image: url("https://cache.marriott.com/content/dam/marriott-renditions/CMHAK/cmhak-entrance-0018-hor-clsc.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1300px:");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  text-align: center;
}

.hotel-section-main h1 {
  color: var(--white-color);
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

.activities-section-main {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/03/11/28/ferris-wheel-2575709_1280.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  text-align: center;
}

.activities-section-main h1 {
  color: var(--white-color);
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

.transportation-section-main {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  background-image: url("https://cdn.columbusunderground.com/wp-content/uploads/2021/09/cota-bus-high-street-downtown.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  text-align: center;
}

.transportation-section-main h1 {
  color: var(--white-color);
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

.restaraunt-section-main {
  min-height: 100dvh;
  /* background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp8465834.jpg&f=1&nofb=1&ipt=31d4e2bbe360c9fca698d075f8cf7e3736a1d62551087584cc17d336584cdc8b&ipo=images"); */
  background-image: url("https://wallpapers.com/images/featured/food-4k-1pf6px6ryqfjtnyr.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  text-align: center;
}

.restaraunt-section-main h1 {
  color: var(--white-color);
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

/* About Section */
.section-two {
  min-height: 70dvh;
  background: var(--background-color);
  padding: 20px 100px;
  padding-bottom: 0px;
  margin-bottom: 0%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.section-two span {
  text-align: center;
}

.section-two h2 {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
}

.section-two p {
  color: var(--lightgrey-color);
  font-size: 18px;
  line-height: 2.2rem;
  margin: 30px 0;
  margin-top: 30px 0;
  margin-left: 30px 0;
  margin-right: 30px 0;
  margin-bottom: 100px 0 var(--background-color);
}

/* Quote Styling */
.section-two .quote {
  text-align: center;
  padding-top: 2.7rem;
  padding-bottom: 3rem;
  color: var(--grey-color);
}

/* Hotel Section */
.section-three {
  min-height: 100dvh;
  background: var(--background-color);
  padding: 20px 100px;
  padding-bottom: 0px;
  margin-bottom: 0%;
}

.section-three h2 {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
}

.section-three h3 {
  color: var(--lightgrey-color);
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
  margin: 100px 0px 50px 0;
}

/* Activities Section */
.section-four {
  min-height: 200dvh;
  background: var(--background-color);
  padding: 20px 100px;
  padding-bottom: 0px;
  margin-bottom: 0%;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.section-four h2 {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
}

.section-four h3 {
  color: var(--lightgrey-color);
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
}

.section-four p {
  color: var(--lightgrey-color);
  font-size: 18px;
  line-height: 2.2rem;
  margin: 30px 0;
  margin-top: 30px 0;
  margin-left: 30px 0;
  margin-right: 30px 0;
  margin-bottom: 100px 0 var(--background-color);
}

.family h3 {
  margin-top: 100px;
}

.museums h3 {
  margin-top: 100px;
}

/* Transportation Section */
.section-five {
  min-height: 100dvh;
  background: var(--background-color);
  padding: 20px 100px;
  padding-bottom: 0px;
  margin-bottom: 0%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.section-five h2 {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
}

.section-five p {
  color: var(--white-color);
  font-size: 18px;
  margin: 30px 0;
}

/* Restaraunts Section */
.section-six {
  min-height: 85dvh;
  background: var(--background-color);
  padding: 20px 100px;
  padding-bottom: 0px;
  margin-bottom: 0%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.section-six h2 {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0px;
}

.section-six p {
  color: var(--white-color);
  font-size: 18px;
  margin: 30px 0;
}

/* Navbar Media Query */
@media(max-width: 1060px) {
  header .nav-btn {
    display: block;
  }

  header .menu {
    position: fixed;
    background: var(--black-color);
    flex-direction: column;
    min-width: 400px;
    height: 100dvh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: all 0.5s ease-out;
    transition-property: right;
  }

  header .menu.active {
    right: 0;
  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a {
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}

/* Main Section Media Query */
@media (max-width: 630px) {
  .section-main h1 {
    font-size: 54px;
    line-height: 60px;
  }

  .section-five h2 {
    color: var(--white-color);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
    margin-top: 102px;
    text-align: center;
  }
}

/*****************************/
/* Sections End */
/*****************************/



/*****************************/
/* Swiper Cards start */
/*****************************/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60dvh;
  margin-bottom: 100px;
}

.card_container {
  padding-block: 5rem;
}

.card_content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card_article {
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card_image {
  position: relative;
  background-color: var(--black-color);
  margin-bottom: -0.75rem;
}

.card_data {
  background-color: var(--black-color);
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card_img {
  height: 250px;
  width: 350px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card_data h3 {
  font-size: 19px;
}

.card_name {
  font-size: 1.25rem;
  color: var(--lightgrey-color);
  margin-bottom: 0.75rem;
}

.card_description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card_button {
  display: inline-block;
  background-color: var(--CBlue-color);
  padding: 0.25rem 1.5rem;
  border-radius: 0.75rem;
  color: var(--white-color);
  font-weight: 600;
  transition: all .4s ease;
}

.card_button:hover {
  transform: scale(1.05);
  transition: all .4s ease;
  background-color: var(--CBlue-dark-color);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-button-next,
.swiper-button-prev {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--white-color);
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

/* Swiper Cards Media Querys */
@media screen and (max-width: 560px) {
  .card_data {
    padding: 1rem;
  }


  .card_container {
    max-width: 500px;
  }

  .card_content{
    max-width: 20000px;
  }
}

@media screen and (min-width: 768px) {
  .card_content {
    margin-inline: 3rem;
  }

  .card_container {
    max-width: 768px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

@media screen and (min-width:1120px) {
  .card_container {
    max-width: 1200px;
  }

  .swiper-button-next {
    right: -1rem;
  }

  .swiper-button-prev {
    left: -1rem;
  }
}

/*****************************/
/* Swiper Cards end */
/*****************************/


/*****************************/
/* hr Styling start*/
/*****************************/

.custom_hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  background-color: var(--background-color);
}

.custom_hr::after {
  background: var(--background-color);
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

/*****************************/
/* hr Styling end*/
/*****************************/



/********************************/
/* Image Overlay effect Start*/
/********************************/

.overlay-wrapper {
  padding-right: 75px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#card-area {
  padding: 50px 0;
}

.box-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 250px;
  margin: auto;
  padding: auto;
}

.overlay-box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 425px;
  width: 475px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 250px;
}

.overlay-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  transition: 0.5s ease-out;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, black 95%);
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: 1.5s ease;
}

.overlay h3 {
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 80%;
  font-size: 30px;
  letter-spacing: 2px;
  color: var(--white-color);
  text-align: center;
}

.overlay a {
  margin-top: 10px;
  color: var(--white-color);
  text-decoration: none;
  font-size: 14px;
  background: var(--CRed-color);
  border-radius: 50px;
  text-align: center;
  padding: 5px 15px;
  transition: 0.45s ease;
}

.overlay-box:hover img {
  transform: scale(1.2);
}

.overlay-box:hover .overlay {
  height: 165%;
  transition: 1.35s ease;
}

.overlay-box a:hover {
  transform: scale(1.1);
  transition: 0.45s ease;
  background-color: var(--darkred);
}


@media screen and (max-height:1200px) {
  .box-area {
    grid-gap: 175px;
    margin-left: 73px;
  }
}

@media screen and (max-width: 600px) {
  .overlay-wrapper {
    margin-left: -148px;
  }

  .overlay-box {
    width: 425px;
  }

  .overlay h3 {
    font-size: 20px;
    font-weight: 800;
  }

  .overlay p {
    font-size: 16px;
  }

  .overlay-wrapper .section-titles h3{
    margin-left: 75px;
    margin-right: -50px;
  }
}

@media screen and (max-width:750px) {
  .section-four {
    margin-left: 5px;
  }


}


/********************************/
/* Image Overlay effect End*/
/*******************************/

.small_hr {
  width: 35px;
  color: var(--CBlue-color);
  background-color: var(--CBlue-color);
  margin-bottom: 30px;
  border: none;
  border-top: 5px solid var(--CBlue-color);
  color: #333;
}

.icon {
  color: black;
  cursor: pointer;
}

.icon a {
  text-decoration: none;
  color: var(--black-color);
}

.button {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: var(--white-color);
  border-radius: 50px;
  line-height: 60px;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.7s;
  text-decoration: none;
}

.wrapper .button .icon {
  font-size: 20px;
}

.wrapper .button:hover {
  width: 85px;
  transition: 0.7s;
}

.wrapper .button:nth-child(1):hover .icon {
  color: #4267B2;
  background: -webkit-gradient(linear, left top, left bottom, from(#4267B2), to(#4267B2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .button:nth-child(2):hover .icon {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9ce34), to(#6228d7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .button:nth-child(3):hover .icon {
  background: -webkit-gradient(linear, left top, left bottom, from(#1da1f2), to(#1da1f2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .button:nth-child(4):hover .icon {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#FF0000));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/***********************************************************/
/*Footer Classes and Styling*/
/**********************************************************/

.footer_container {
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_container p {
  color: var(--white-color);
  padding-bottom: 10px;
}

.footer_links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer_link_wrapper {
  display: flex;
}

.footer_link_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 16rem;
  box-sizing: border-box;
}

.footer_link_items h2 {
  color: #fff;
  margin-bottom: 1rem;
  /*margin: 0 0 1rem 0;*/
}

.footer_link_items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: .5rem;
  transition: .3s ease-out;
}

.footer_link_items a:hover {
  color: var(--CBlue-color);
  transition: .3s ease-out;
}

.website_rights {
  color: #fff;
}


@media screen and (max-width:1000px) {
  .footer_link_wrapper {
    flex-direction: column;
  }

  .footer_links {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .footer_link_items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

@media screen and (max-width:750px) {
  .website_rights {
    margin-bottom: 1.5rem;
  }
}

.row {
  margin: 8px -16px 150px -16px;
  display: flex;
  flex-wrap: wrap;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
  padding: 8px;
  flex: 1 1 33%;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none;
  /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: var(--basically-black);
  padding: 10px;
  text-align: center;
  color: var(--lightgrey-color);
}

.content h4 {
  color: var(--white-color);
  font-size: 25px;
  margin: 15px 0px;
}

.content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

#myBtnContainer{
  background-color: var(--basically-black);
  width: 355px;
  padding: 6.5px;
  border-radius: 10px;
}

/* Style the buttons */
.hotel-btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: var(--background-color);
  color: var(--white-color);
  cursor: pointer;
  border-radius: 15px;
  transition: .3s ease-out;
}

/* Add a grey background color on mouse-over */
.hotel-btn:hover {
  background-color: var(--grey-color);
  transition: .3s ease-out;
}

/* Add a dark background color to the active button */
.hotel-btn.active {
  background-color: var(--basically-black);
  transition: .3s ease-out;
}

.learn-more-button {
  display: inline-block;
  background-color: var(--white-color);
  padding: 5px 15px;
  border-radius: 15px;
  color: var(--black-color);
  font-weight: 600;
  transition: all .4s ease;
  margin-top: 15px;
  margin-bottom: 10px;
}

.learn-more-button:hover {
  transform: scale(1.05);
  transition: all .4s ease;
  background-color: var(--lightgrey-color);
}

@media screen and (max-width: 600px) {
  #myBtnContainer{
    width: 365px;
    margin-left: -47px;
    padding-bottom: 10px;
  }
  
  .hotel-btn{
  margin-top: 5px;
  }

  .row{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .content{
    margin-top: 25px;
    width: 300px;
    height: 435px;
    margin-left: -55px;
    display: flex;
    flex-direction: column;
  }

  .content h4{
    font-size: 20px;
  }

  .learn-more-button{
    align-self: center;
    width: 150px;
  }
}

#transportation-container{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#transportation-container h3{
  color: var(--white-color);
  font-size: 30px;
  margin: 50px 0px;
  border:  2px solid black;
}

.transportation-img{
  width: 450px;
  height: 200px;
  float: left;
  display: flex;
}

#transportation-text{
  color: var(--white-color);
  margin: 40px 0px;
  display: flex;
}

#transportation-text2{
  color: var(--white-color);
  margin: 40px 0px;
  display: flex;
}

#transportation-text3{
  color: var(--white-color);
  margin: 40px 0px;
  display: flex;
}

@media screen and (max-width: 600px) {
  .transportation-img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 35px;
  }

  #transportation-text{
    margin-bottom: 25px;
  }

  #transportation-text2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #transportation-text3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .section-five h2 span{
    margin-left: -40px;
  }
}