@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --CRed-color: #e31b22;
  --CBlue-color: #00539b;
  --CBlue-dark-color: #063a68;
  --black-color: black;
  --background-color: rgb(27, 27, 27);
  --lightgrey-color: rgb(167, 162, 162);
  --white-color: white;
  --grey-color: #555756;
  --bold-font-weight: bold;

  --red: #ef233c;
  --darkred: #c00424;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

/*****************************/
/* HTML page styling Start*/
/*****************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: var(--background-color);
}

br {
  background-color: var(--background-color);
  color: var(--background-color);
}

/*****************************/
/* HTML page styling End */
/*****************************/



/*****************************/
/* Navbar Start*/
/*****************************/

.navbar-logo {
  display: flex;
  align-items: center;
  height: 69px;
  width: 190px;
}

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.48s ease;
  padding-left: 2%;
}

header.sticky {
  background: var(--black-color);
  padding: 15px 100px;
}

header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s ease;
}

header .menu a:hover {
  background: var(--CRed-color);
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.3s ease;
  color: var(--white-color);
  transition: 0.3s ease;
}

header .nav-btn {
  color: var(--white-color);
  font-size: 25px;
  cursor: pointer;
  display: none;
}

/*****************************/
/* Navbar End*/
/*****************************/



/*****************************/
/* Sections Start */
/*****************************/

/* Main Section */
.section-main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://muralsyourway.vtexassets.com/arquivos/ids/236304/Columbus-Ohio-Skyline-Mural-Wallpaper.jpg?v=638165404917430000");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.section-main h1 {
  color: var(--white-color);
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}


.hotel-section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://cache.marriott.com/content/dam/marriott-renditions/CMHAK/cmhak-entrance-0018-hor-clsc.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1300px:*");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.hotel-section-main h1{
  color: var(--white-color);
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

.activities-section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/columbus/NVMM_and_skyline_at_night_credit_Randall_Schieber_edccdf79-d5c9-4b36-85b3-271667d7d2e8.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.activities-section-main h1{
  color: var(--white-color);
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

.transportation-section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://cdn.columbusunderground.com/wp-content/uploads/2021/09/cota-bus-high-street-downtown.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.transportation-section-main{
  color: var(--white-color);
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

.restaraunt-section-main{
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/9638804/pexels-photo-9638804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.restaraunt-section-main{
  color: var(--white-color);
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

/* About Section */
.section-two {
  min-height: 70vh;
  background: var(--background-color);
  padding: 20px 100px;
  padding-bottom: 0px;
  margin-bottom: 0%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.section-two span{
  text-align: center;
}

.section-two h2 {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
}

.section-two p {
  color: var(--lightgrey-color);
  font-size: 18px;
  line-height: 2.2rem;
  margin: 30px 0;
  margin-top: 30px 0;
  margin-left: 30px 0;
  margin-right: 30px 0;
  margin-bottom: 100px 0 var(--background-color);
}

/* Quote Styling */
.section-two .quote {
  text-align: center;
  padding-top: 2.7rem;
  padding-bottom: 3rem;
  color: var(--grey-color);
}

/* Hotel Section */
.section-three {
  min-height: 100vh;
  background: var(--background-color);
  padding: 20px 100px;
  padding-bottom: 0px;
  margin-bottom: 0%;
}

.section-three h2 {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
}

.section-three p {
  color: var(--lightgrey-color);
  font-size: 18px;
  line-height: 2.2rem;
  margin: 30px 0;
  margin-top: 30px 0;
  margin-left: 30px 0;
  margin-right: 30px 0;
  margin-bottom: 100px 0 var(--background-color);
}

/* Activities Section */
.section-four {
  min-height: 280vh;
  background: var(--background-color);
  padding: 20px 100px;
  padding-bottom: 0px;
  margin-bottom: 0%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.section-four h2 {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
}

.section-four h3{
  color: var(--lightgrey-color);
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
}

.section-four p {
  color: var(--lightgrey-color);
  font-size: 18px;
  line-height: 2.2rem;
  margin: 30px 0;
  margin-top: 30px 0;
  margin-left: 30px 0;
  margin-right: 30px 0;
  margin-bottom: 100px 0 var(--background-color);
}

.family h3{
  margin-top: 100px;
}

.museums h3 {
  margin-top: 100px;
}

/* Transportation Section */
.section-five {
  min-height: 163vh;
  background: var(--background-color);
  padding: 20px 100px;
  padding-bottom: 0px;
  margin-bottom: 0%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.section-five h2 {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  margin-top: 102px;
  text-align: center;
}

.section-five p {
  color: var(--white-color);
  font-size: 18px;
  margin: 30px 0;
}

/* Restaraunts Section */
.section-six {
  min-height: 138vh;
  background: var(--background-color);
  padding: 20px 100px;
  padding-bottom: 0px;
  margin-bottom: 0%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.section-six h2 {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  margin-top: 55px;
  text-align: center;
  margin-bottom: 25px;
  margin: 55px 0px 40px 0;
}

.section-six p {
  color: var(--white-color);
  font-size: 18px;
  margin: 30px 0;
}

/* Navbar Media Query */
@media(max-width: 1060px) {
  header .nav-btn {
    display: block;
  }

  header .menu {
    position: fixed;
    background: var(--black-color);
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.5s ease;
    transition-property: right;
  }

  header .menu.active {
    right: 0;

  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a {
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}

/* Main Section Media Query */
@media (max-width: 630px) {
  .section-main h1 {
    font-size: 54px;
    line-height: 60px;
  }

  .section-five h2 {
    color: var(--white-color);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
    margin-top: 102px;
    text-align: center;
  }
}

/*****************************/
/* Sections End */
/*****************************/



/*****************************/
/* Swiper Cards start */
/*****************************/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card_container {
  padding-block: 5rem;
}

.card_content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card_article {
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card_image {
  position: relative;
  background-color: var(--black-color);
  margin-bottom: -0.75rem;
}

.card_data {
  background-color: var(--black-color);
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card_img {
  height: 250px;
  width: 320px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card_data h3 {
  font-size: 19px;
}

.card_name {
  font-size: 1.25rem;
  color: var(--lightgrey-color);
  margin-bottom: 0.75rem;
}

.card_description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card_button {
  display: inline-block;
  background-color: var(--CBlue-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  color: var(--white-color);
  font-weight: 600;
  transition: all .4s ease;
}

.card_button:hover{
  transform: translate3D(0, -1px, 0) scale(1.05);
  box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 6px 12px rgba(39, 44, 49, .04);
  transition: all .4s ease;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-button-next,
.swiper-button-prev {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--white-color);
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

/* Swiper Cards Media Querys */
@media screen and (max-width: 320px) {
  .card_data {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .card_content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

@media screen and (min-width:1120px) {
  .card_container {
    max-width: 1120px;
  }

  .swiper-button-next {
    right: -1rem;
  }

  .swiper-button-prev {
    left: -1rem;
  }
}

/*****************************/
/* Swiper Cards end */
/*****************************/


/*****************************/
/* hr Styling start*/
/*****************************/

.custom_hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  background-color: var(--background-color);
}

.custom_hr::after {
  background: var(--background-color);
  content: 'ยง';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

/*****************************/
/* hr Styling end*/
/*****************************/



/********************************/
/* Image Fade effect Start*/
/*******************************/

.image_fade_container {
  position: relative;
  width: 33%;
  padding-bottom: 2.3rem;
  float: left;
}

.card_fade_image {
  display: block;
  height: auto;
  height: 20rem;
  width: 22rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20rem;
  width: 22rem;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--black-color);
}

.image_fade_container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/********************************/
/* Image Fade effect End*/
/*******************************/

.card_scroll_container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.card_scroll_container h2 {
  font-size: 32px;
  margin-bottom: 1em;
}

.card-title {
  color: var(--white-color);
}

.trasnportation-card-img {
  width: 250px;
  height: 250px;
  transition: all .4s ease;
  border-style: solid;
  border-color: var(--white-color);
}

.trasnportation-card-img:hover {
  border-style: solid;
  border-color: var(--lightgrey-color);
  transform: translate3D(0, -1px, 0) scale(1.05);
  box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 6px 12px rgba(39, 44, 49, .04);
  transition: all .4s ease;
}

.transportation-text {
  font-size: 5px;
}

.small_hr {
  width: 35px;
  color: var(--CBlue-color);
  background-color: var(--CBlue-color);
  margin-bottom: 30px;
  border: none;
  border-top: 5px solid var(--CBlue-color);
  color: #333;
}

.icon{
  color: black;
  cursor: pointer;
}

.icon a{
  text-decoration: none;
  color: var(--black-color);
}

.button{
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: var(--white-color);
  border-radius: 50px;
  line-height: 60px;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
  transition: 0.7s;
  text-decoration: none;
}

.wrapper .button .icon{
  font-size: 20px;
}

.wrapper .button:hover{
  width: 85px;
  transition: 0.7s;
}

.wrapper  .button:nth-child(1):hover .icon{
  color: #4267B2;
  background: -webkit-gradient(linear, left top, left bottom, from(#4267B2), to(#4267B2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.wrapper .button:nth-child(2):hover .icon{
  background: -webkit-gradient(linear, left top, left bottom, from(#f9ce34), to(#6228d7));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.wrapper .button:nth-child(3):hover .icon{
  background: -webkit-gradient(linear, left top, left bottom, from(#1da1f2), to(#1da1f2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.wrapper .button:nth-child(4):hover .icon{
  background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#FF0000));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/****************************************************************/
/*Footer Classes and Styling*/
.footer_container{
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_container p{
  color: var(--white-color);
  padding-bottom: 10px;
}

.footer_links{
  width:100%; 
  max-width:1000px;
  display:flex;
  justify-content: center;
}
.footer_link_wrapper{
  display:flex;
}
.footer_link_items{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin:16px;
  text-align: left;
  width:16rem;
  box-sizing: border-box;
}
.footer_link_items h2{
  color:#fff; 
  margin-bottom: 1rem; /*margin: 0 0 1rem 0;*/
}
.footer_link_items a{
  color:#fff;
  text-decoration: none;
  margin-bottom: .5rem;
  transition: .3s ease-out;
}
.footer_link_items a:hover{
  color: var(--CBlue-color);
  transition: .3s ease-out;
}
.social_media{
  max-width: 1000px;
  width: 100%;
}
.social_media_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  margin: 40px auto 0 auto;
}
.website_rights{
  color:#fff;
}
.social_media_icons{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 240px; 
}

@media screen and (max-width:1000px){
  .footer_link_wrapper{
    flex-direction: column;
  }
.footer_links{
    padding-top: 1rem;
  }
}

@media screen and (max-width: 600px){
  .footer_link_items{
    margin:0;
    padding: 10px;
    width: 100%;
  }
}

@media screen and (max-width:750px){
    .services_wrapper{
        grid-template-columns: 1fr;
    }
    .social_media_wrapper{
        flex-direction: column;
    }
    .website_rights{
        margin-bottom: 1.5rem;
    }
    .social_media{
        margin-bottom: 1.5rem;
    }
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.hotel-btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.hotel-btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.hotel-btn.active {
  background-color: #666;
   color: white;
}